@import '~bootstrap';
@import 'var';
@import 'presets';
@import 'utils';
@import 'colors';
@import 'header';
@import 'card';
@import 'content';
@import 'shop';
@import 'links';
@import 'footer';

#adv-img{
    width: 300px;
}

.box-green{
    width: 100%;
    background-color: #55BA59;
}